Location:
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Location" [(ngModel)]="location"></textarea>
</mat-form-field>
<br>
Date :
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Insert date" [(ngModel)]="date"></textarea>
</mat-form-field>
<br>
Comment:
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Leave a comment" [(ngModel)]="description"></textarea>
</mat-form-field>
<br>

<button mat-button (click)="Btnuserhome()">Send reclamation</button>


<!--<div class="col-12 col-md-12 mb-2 mb-md-0">
    <button mat-button (click)="addBtn()"> register </button>
  </div>-->
