<div class="example-container" style="height: 100%">
  <div class="jumbotron">
    <h1>Mes réclamations</h1>
    <p>Ce site vous permet de remonter vos réclamations aux services concernés</p>
  </div>
  <mat-form-field>
    <input matInput placeholder="Entrez votre email" [(ngModel)]="mail" required>
    <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Entrez votre mot de passe" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">Se connecter</button>

  <mat-divider style="margin: 10px"></mat-divider>

  <button mat-raised-button color="primary" (click)="register()" >Créer un compte</button>

  <div *ngIf="erreur">
    <div class="shadawbox" role="alert">
      <h1>{{erreur}}</h1>
    </div>
  </div>

</div>



<!--




<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

        <div class="form-row">
          <div class="col-12 col-md-12 mb-2 mb-md-0">
            &lt;!&ndash;<input matInput placeholder="mail" [(ngModel)]="mail">&ndash;&gt;
            <input class="form-control form-control-lg" placeholder="enter your email ..." [(ngModel)]="mail">
          </div>
          <br>
          <div class="col-12 col-md-12 mb-2 mb-md-0">
            &lt;!&ndash; <input matInput placeholder="password" [(ngModel)]="password">&ndash;&gt;
            <input class="form-control form-control-lg" placeholder="enter your password ..." [(ngModel)]="password">
          </div>

          <div class="col-12 col-md-12 mb-2 mb-md-0">
            &lt;!&ndash;<button mat-button (click)="addBtn()" > OK </button>&ndash;&gt;
            <button mat-button (click)="addBtn()"> OK</button>
          </div>
          <div *ngIf="erreur">

            <div class="shadawbox" role="alert">
              <h1>{{erreur}}</h1>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


</header>

<div class="row no-gutters">

  <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
  <div class="col-lg-6 order-lg-1 my-auto showcase-text"></div>
</div>
&lt;!&ndash; <button mat-button (click)="addBtn()" > register </button>&ndash;&gt;


&lt;!&ndash;email:
 <mat-form-field class="example-full-width">
    <input matInput placeholder="mail" [(ngModel)]="mail">
  </mat-form-field><br>


 password:

 <mat-form-field class="example-full-width">
    <input matInput placeholder="password" [(ngModel)]="password">
  </mat-form-field><br>


 <button mat-button (click)="addBtn()" > OK </button>


 <div *ngIf="erreur">

    <div class="shadawbox" role="alert">
  <h1>{{erreur}}</h1>
  </div>
  </div>&ndash;&gt;
-->
